.classpath
.project
.settings
.eclipse/*
.gradle
*.launch
*maven-eclipse.xml
\#*
.\#*
*~
*.swp
.idea
*.iml
*.ipr
*.iws
*.ids
target
build
out
*.class
junit*.properties
*.orig
nb-*
.DS_Store
.metadata
classes
*.MF
*.retry